name: app_check_core

on:
  pull_request:
  schedule:
    # Run every day at 11pm (PST) - cron uses UTC times
    - cron:  '0 7 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  pod_lib_lint:
    strategy:
      matrix:
        # TODO: macos tests are blocked by https://github.com/erikdoe/ocmock/pull/532
        target: [ios, tvos, macos --skip-tests, watchos]
        os: [macos-13, macos-14, macos-15]
        include:
          - os: macos-14
            xcode: Xcode_16.4
          - os: macos-26
            xcode: Xcode_26.1
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
    - name: Setup Scripts Directory
      run: ./setup-scripts.sh
    - name: Setup Bundler
      run: ./scripts/setup_bundler.sh
    - name: Select Xcode version
      run: sudo xcode-select -s /Applications/${{ matrix.xcode }}.app/Contents/Developer
    - name: Build and test
      run: |
        scripts/third_party/travis/retry.sh scripts/pod_lib_lint.rb AppCheckCore.podspec \
          --platforms=${{ matrix.target }}

  catalyst:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
    - name: Setup Scripts Directory
      run: ./setup-scripts.sh
    - name: Setup Bundler
      run: scripts/setup_bundler.sh
    - name: Setup project and Test Catalyst
      run: scripts/third_party/travis/retry.sh scripts/test_catalyst.sh AppCheckCore test
